/*---------- global_custom_css_ start ----------*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary_heading_blue_clr: #1F71C0;
  --secondary_heading_black_clr: #121212;
  --heading_txt_brown_clr: #231f1f;
  --light_grey_clr: #363535;
  --sub_heading_grey_clr: #3e3c3c;
  --dark_charcoal_clr: #333333;
  --white_body_clr: #ffffff;
  --white_smoke_clr: #f4f4f4;
  --bg_white_smoke_clr: #f9f9f9;
  --rubik_font_family: "Rubik", sans-serif;
  --montserrat_font_family: "Montserrat", sans-serif;
}

body {
  background-color: var(--white_body_clr);
  font-family: var(--montserrat_font_family);
}

html {
  scroll-behavior: smooth;
}

.w_auto {
  width: auto;
}

img,
picture {
  width: 100%;
}

span,
a {
  display: inline-block;
  text-decoration: none;
}

.container_1200 {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem 1rem;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
}

.flex_row {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.grid_row {
  display: grid;
}

section {
  margin-bottom: 6rem;
}

main {
  margin-top: 8rem;
}

.global_btn {
  font-family: var(--rubik_font_family);
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.blue_btn {
  background-color: var(--primary_heading_blue_clr);
  color: var(--bg_white_smoke_clr);
  border: none;
  padding: 15px 25px;
  width: max-content;
}

.blue_btn:hover {
  background-color: var(--bg_white_smoke_clr);
  color: var(--primary_heading_blue_clr);
  border: 1px solid var(--primary_heading_blue_clr);
}

.white_btn {
  color: var(--primary_heading_blue_clr);
  width: max-content;
  padding: 15px 25px;
  background-color: var(--bg_white_smoke_clr);
  border: 1px solid var(--primary_heading_blue_clr);
}

.white_btn:hover {
  color: var(--bg_white_smoke_clr);
  border: 1px solid var(--white_smoke_clr);
  background-color: var(--primary_heading_blue_clr);
}

/*----------------- global_css_end -----------------*/

/*------------- header_css start -------------*/
header {
  background-color: var(--bg_white_smoke_clr);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 1px solid var(--white_txt_bg_clr);
}

header .header_container {
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
header .header_container .logo a > img {
  width: 95px;
  height: 34px;
}

header .ryt_content_wrapper {
  max-width: 670px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

header .nav_bar_wrapper ul {
  align-items: center;
  gap: 1.25rem;
}

header .nav_bar_wrapper ul li {
  list-style: none;
}

header .nav_bar_wrapper ul li a {
  color: var(--heading_txt_brown_clr);
  font-size: 1rem;
  font-weight: 400;
}

header .nav_bar_wrapper ul li a:hover {
  color: var(--primary_heading_blue_clr);
}

.mobile_header {
  display: none;
}
.menu_off_canvas {
  display: none;
}
/*--------- header_css end ---------*/

/*------------ footer css -----------*/
footer {
  background-color: var(--primary_heading_blue_clr);
}

footer > .inner_container {
  justify-content: space-between;
  gap: 2rem;
  padding-block: 2.5rem;
}

footer > .inner_container .col_1 {
  max-width: 240px;
  gap: 1.125rem;
  width: 28%;
}
footer > .inner_container .col_1 a > img {
  width: 95px;
  height: 34px;
}

footer > .inner_container .inner_li_columns_wrap {
  width: 50%;
  justify-content: space-between;
  gap: 3rem;
}

footer > .inner_container .inner_li_columns_wrap .col_1:nth-child(1),
footer > .inner_container .inner_li_columns_wrap .col_1:nth-child(3) {
  /* width: 28%; */
  max-width: max-content;
}

footer > .inner_container .inner_li_columns_wrap .col_1:nth-child(2) {
  /* width: 36%; */
  max-width: max-content;
}

footer > .inner_container .col_1 span {
  color: var(--white_smoke_clr);
  letter-spacing: 0.06em;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: var(--rubik_font_family);
}

footer > .inner_container .col_1 p {
  color: var(--white_smoke_clr);
  font-weight: 500;
  font-size: 0.9rem;
}

footer > .inner_container .li_column li {
  list-style: none;
  padding-block: 0.3rem;
}

footer > .inner_container .li_column a {
  color: var(--white_body_clr);
  font-weight: 500;
  font-size: 1rem;
}

footer > .inner_container .social_icons_container svg {
  width: 24px;
  height: 24px;
}

footer > .inner_container .inner_social_link_col {
  width: 18%;
  gap: 1.8rem;
}

footer > .inner_container .social_icons_container {
  gap: 1rem;
  max-width: 170px;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

footer > .inner_container .inner_social_link_col .btn > a {
  padding: 0.85rem 2.188rem 0.85rem 0.85rem;
  background-color: var(--primary_heading_blue_clr);
  color: var(--white_smoke_clr);
  border: 1px solid var(--white_smoke_clr);
  width: 95%;
  font-size: 0.75rem;
  font-weight: 500;
}

/* footer > .inner_container .inner_social_link_col > a {
  padding: 10px 25px;
} */

footer .social_icons_container a:hover path {
  fill: color-mix(
    in hsl shorter hue,
    rgba(244, 244, 244, 0.909) 100%,
    rgba(244, 244, 244, 0.541) 100%
  );
}

footer > .divider {
  background-color: var(--white_body_clr);
  display: block;
  height: 1px;
  width: 100%;
}
footer > .inner_container .footer_btn {
  font-size: 1.25rem;
  padding: 10px 25px;
}

footer > .copyright_col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0 3rem;
  /* border-top: 1px solid var(--solid_white_clr);
  text-align: center; */
}

footer > .copyright_col p {
  color: var(--white_smoke_clr);
  font-size: 0.75rem;
  font-weight: 500;
}
.mobile_footer {
  display: none;
}

/*--------------- Mobile_screen_css start ---------------*/
@media screen and (max-width: 480px) {
  /* global_css */
  /* h1 {
      font-size: 2rem;
      font-weight: 400;
    }
  
    h2 {
      font-size: 1.25rem;
      font-weight: 400;
    }
  
    h3 {
      font-size: 1.25rem;
      font-weight: 600;
    }
  
    h4 {
      font-size: 1.125rem;
      font-weight: 400;
    } */

  section {
    margin-bottom: 3rem;
  }
  main {
    margin-top: 6rem;
  }

  /* global_css end */

  /* component_css start */
  header .header_container {
    display: none;
  }
  .mobile_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
  }

  /* menu_off_canvas_css */
  .menu_off_canvas {
    display: block;
    max-width: 240px;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--solid_white_clr);
    padding: 2rem 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
    z-index: 1002;
  }

  .menu_off_canvas.open {
    transform: translateX(0);
  }

  .menu_off_canvas .menu_inner_wrapper {
    gap: 2rem;
  }
  .menu_off_canvas .heading_row {
    justify-content: space-between;
    gap: 1rem;
  }

  .menu_off_canvas .lists_stove_protect ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .menu_off_canvas .lists_stove_protect ul li {
    list-style: none;
    color: #000000;
  }
  .menu_off_canvas .lists_stove_protect ul li a {
    color: var(--heading_txt_brown_clr);
    font-size: 1.125rem;
  }
  .menu_off_canvas .lists_stove_protect ul li a:hover {
    color: var(--primary_heading_blue_clr);
  }
  .menu_off_canvas .lists_stove_protect ul li:last-child {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .menu_off_canvas .lists_stove_protect ul li:last-child img {
    width: 20px;
    height: 20px;
  }

  .overlay {
    position: fixed;
    min-height: 100vh;
    background-color: rgba(48, 48, 48, 0.192);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    display: none;
  }
  .overlay.open_overlay {
    display: block;
  }

  /*----------- mobile footer -----------*/
  footer > .inner_container {
    display: none;
  }

  .mobile_footer {
    display: flex;
    gap: 1rem;
    /* margin-bottom: 3rem; */
    padding-top: 3rem;
  }

  .mobile_footer .col_1 {
    gap: 1rem;
  }

  .mobile_footer .col_1 > a {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--bg_white_smoke_clr);
  }
  .mobile_footer .col_1 p {
    color: var(--white_smoke_clr);
    font-weight: 500;
  }

  .mobile_footer .accordion_card span {
    color: var(--white_smoke_clr);
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--rubik_font_family);
  }

  .mobile_footer .social_icons_container svg {
    width: 18px;
    height: 18px;
  }

  .mobile_footer .social_icons_container {
    gap: 1.5rem;
  }

  .mobile_footer .inner_social_link_col {
    gap: 1.25rem;
    align-items: flex-start;
  }

  .mobile_footer .inner_social_link_col .btn > a {
    padding: 0.85rem 5.188rem 0.85rem 0.85rem;
    background-color: var(--primary_heading_blue_clr);
    color: var(--white_smoke_clr);
    border: 1px solid var(--white_smoke_clr);
    font-size: 0.75rem;
    font-weight: 500;
  }

  .mobile_footer .inner_social_link_col .mobile_btn_wrap > a {
    padding: 10px 25px;
  }

  .mobile_footer .inner_social_link_col .mobile_btn_wrap {
    justify-content: space-between;
    align-items: flex-start;
    gap: 1.25rem;
  }
  .mobile_footer .social_icons_container svg {
    width: 24px;
    height: 24px;
  }

  .mobile_footer .inner_li_columns_wrap {
    gap: 1rem;
    background: none;
  }

  .mobile_footer .li_column ul li {
    list-style: none;
    padding-block: 0.5rem;
  }

  .mobile_footer .li_column a {
    color: var(--white_smoke_clr);
    font-size: 1rem;
    font-weight: 500;
  }

  .mobile_footer .inner_li_columns_wrap .accordion_card {
    border-bottom: 1px solid var(--bg_white_smoke_clr);
    padding-bottom: 1rem;
    padding-top: 0;
    transition: transform 0.3s ease-in-out;
  }

  .accordion_footer {
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5rem;
  }

  .accordion_footer img {
    width: 20px;
    height: 20px;
    transform: rotate(180deg);
  }

  .mobile_footer .accordion_card {
    background: none;
    border: none;
    align-items: normal;
    padding-inline: 0;
  }

  .mobile_footer .accordion_card.active .rotate_180 {
    transform: rotate(0deg);
  }
}







/* latest_post_component_css start */
.r_col_container {
    max-width: 300px;
    width: 100%;
    padding: 20px 0 20px 20px;
    background-color: var(--background_clr);
    border-left: 1px dotted #000000;
    gap: 1rem;
  }
  
  .r_col_container h3 {
    color: var(--primary_heading_clr);
  }
  .r_col_container .post_1 > a {
    font-size: 1rem;
    font-weight: 600;
    color: var(--sub_heading_clr);
    padding-bottom: 0.5rem;
  }
  .r_col_container .profile_info .user a.grey_txt {
    color: var(--sub_heading_clr);
    font-weight: 300;
    font-size: 0.875rem;
  }
  .r_col_container .profile_info .user a.grey_txt:hover {
    color: var(--light_green_color);
  }
  .r_col_container .post_1 {
    border-bottom: 1px solid var(--primary_heading_blue_clr);
    padding-bottom: 0.5rem;
  }
  .r_col_container a:hover {
    color: var(--light_green_color);
  }
  .r_col_container .post_1:last-of-type {
    border-bottom: none;
  }
  .r_col_container .post_1 .profile_info {
    align-items: center;
    gap: 0.3rem;
  }
  .r_col_container .post_1 .profile_info .date_info > span{
    font-size: .75rem;
  }

  .r_col_container .post_1 .profile_info .date_info::before {
    content: "";
    width: 5px;
    height: 1.5px;
    background-color: #66666666;
}
.r_col_container .post_1 .profile_info .user, .date_info {
    align-items: center;
    gap: 0.2rem;
    /* white-space: nowrap; */
}
  /* latest_post_component_css end */



/* social_links_component_css start */
.global_social_wrapper {
    gap: 4rem !important;
  }
  .global_social_wrapper .col_1 h3,
  .r_col_container h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted #000000;
  }
  .global_social_wrapper .social_links {
    margin-top: 1rem;
    gap: 0.5rem;
  }
  
  .global_social_wrapper .social_links .icon_1 {
    background-color: #000000;
    padding: 0.3rem 0.55rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .global_social_wrapper .social_links .icon_1:nth-of-type(1):hover {
    background-color: #516eab;
  }
  .global_social_wrapper .social_links .icon_1:nth-of-type(2):hover {
    background-color: #e14e42;
  }
  .global_social_wrapper .social_links .icon_1:nth-of-type(3):hover {
    background-color: #29c5f6;
  }
  
  .global_social_wrapper .social_links .icon_1 a > img {
    width: 20px;
    height: 20px;
    margin-top: 0.3rem;
  }
  
  .global_social_wrapper .social_links .icon_1 a {
    color: var(--white_body_clr);
    font-size: .75rem;
    font-weight: 500;
    width: max-content;
  }
  
  .global_social_wrapper .social_links .icon_1 .l_txt {
    align-items: center;
    gap: 0.4rem;
  }
  .global_social_wrapper .social_links .icon_1 .r_line_txt_wrap > a {
    color: var(--white_body_clr);
  }
  .global_social_wrapper .social_links .icon_1 .r_line_txt_wrap {
    gap: 0.5rem;
    align-items: center;
  }
  
  .global_social_wrapper .social_links .icon_1 .line {
    width: 0.5px;
    height: 40px;
    background-color: #686363;
  }
  .global_social_wrapper .social_links .icon_1:hover .line {
    background-color: #f5f5f5;
  }
  /* social_links_component_css end */
  
  /* newsletter_css_start */
  .r_col_wrapper .col_2 h3 {
    padding-bottom: 0.5rem;
    border-bottom: 1px dotted #000000;
  }
  .r_col_wrapper .col_2 .inner_content {
    margin-top: 1rem;
    gap: 1rem;
  }
  
  .r_col_wrapper .col_2 input {
    border: 1px solid #999999;
    outline: none;
    color: var(--sub_heading_clr);
    height: 2.75rem;
    padding: 1rem 0.5rem;
  }
  
  .r_col_wrapper .col_2 button {
    background-color: var(--primary_heading_blue_clr);
    color: var(--bg_white_smoke_clr);
    height: 2.75rem;
    border: none;
  }
  
  .r_col_wrapper .col_2 button:hover {
    background-color: var(--white_smoke_clr);
    color: var(--primary_heading_blue_clr);
    border: 1px solid var(--primary_heading_blue_clr);
  }
  /* newsletter_css_end */
  
  /* advertisement_css start */
  /* .advertisement_col_4 > a {
    position: relative;
    width: 100%;
    height: 100%;
  } */
  
  /* .advertisement_col_4 .txt_over_img span {
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--bigshot_one_font-family);
    color: var(--solid_white_clr);
  } */
  
  /* .advertisement_col_4 .txt_over_img > a {
    font-size: 1rem;
    font-weight: 400;
    color: #d9d9d9;
  } */
  
  /* .advertisement_col_4 .txt_over_img {
    position: absolute;
    background-color: transparent;
    transform: translate(22%, -280%);
    gap: 1rem;
    align-items: center;
  } */
  /* advertisement_css end */
  
  /* position_sticky css start*/
  .sticky {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 7rem;
    gap: 4rem;
  }
  /* position_sticky css end*/
  