/*----- single_blg_pg_sec_1 -----*/
.single_blg_pg_sec_1 .single_blg_pg_sec_1_container {
  justify-content: space-between;
}
.single_blg_pg_sec_1 .l_col_container {
  max-width: 790px;
  width: 100%;
  gap: 3rem;
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_1 {
  gap: 1.25rem;
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_1 span:nth-child(1) {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: var(--rubik_font_family);
  color: var(--heading_txt_brown_clr);
}

.single_blg_pg_sec_1 .l_col_container .bottom_content_wrap {
  max-width: 425px;
  width: 100%;
  gap: 1.25rem;
}

.single_blg_pg_sec_1 .l_col_container .bottom_content_wrap .calender_col {
  align-items: center;
  gap: 0.5rem;
}

.single_blg_pg_sec_1 .l_col_container .bottom_content_wrap .calender_col img {
  width: 16px;
  height: 16px;
}

.single_blg_pg_sec_1 .l_col_container .bottom_content_wrap span {
  color: var(--sub_heading_grey_clr);
  font-size: 0.875rem;
  font-weight: 500;
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 {
  gap: 1.25rem;
  border-bottom: 1px dotted #000000;
  padding-bottom: 2rem;
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 span {
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--secondary_heading_black_clr);
  font-family: var(--rubik_font_family);
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 p {
  color: var(--sub_heading_grey_clr);
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 .grey_bg_txt {
  padding: 0.938rem 1.3rem;
  background-color: var(--bg_white_smoke_clr);
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 .li_item ul {
  list-style: auto;
  margin-left: 1.5rem;
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 .li_item ul li {
  font-size: 0.875rem;
  color: var(--sub_heading_grey_clr);
  padding-block: 0.4rem;
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 .li_item ul li > span {
  color: var(--primary_heading_blue_clr);
  font-size: 1rem;
  font-weight: 500;
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 .li_item ul li::marker {
  color: var(--primary_heading_blue_clr);
  font-weight: 500;
}

.single_blg_pg_sec_1 .l_col_container .inner_wrap_2 .list_2nd ul {
  list-style: disc;
}

/* faq_wrap_3 */
.single_blg_pg_sec_1 .l_col_container .faq_sec .faq_container {
  padding-top: 1rem !important;
}

.single_blg_pg_sec_1 .l_col_container .faq_sec .global_heading_bar {
  align-items: center;
  justify-content: space-between;
  max-width: 635px;
  width: 100%;
}

.single_blg_pg_sec_1 .l_col_container .global_heading_bar .lft_heading span {
  font-size: 1.25rem;
}

.single_blg_pg_sec_1 .l_col_container .inner_faq_accordion_wrapper {
  max-width: 635px;
  width: 100%;
  padding-bottom: 1.5rem !important;
}

/* comments_wrap_4 */
.single_blg_pg_sec_1 .comments_wrap_4 {
  gap: 1.8rem;
  min-height: 480px;
  border-bottom: 1px dotted #000000;
  padding-bottom: 2rem;
}

.single_blg_pg_sec_1 .comments_wrap_4 .comments_card_container {
  position: relative;
}

.single_blg_pg_sec_1 .comments_wrap_4 .comment_card_1 {
  background-color: var(--bg_white_smoke_clr);
  position: relative;
}

.single_blg_pg_sec_1 .comments_wrap_4 .card_1_inner_wrap {
  max-width: 750px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem 0 8rem 0;
  gap: 1.25rem;
}

.single_blg_pg_sec_1 .comments_wrap_4 .lft_col {
  gap: 0.625rem;
}

.single_blg_pg_sec_1 .comments_wrap_4 .lft_col .user_img a > img {
  width: 60px;
  height: 60px;
}

.single_blg_pg_sec_1 .comments_wrap_4 .card_1_inner_wrap .inner_col_1 {
  justify-content: space-between;
}

.single_blg_pg_sec_1 .comments_wrap_4 .inner_ryt_col {
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.single_blg_pg_sec_1 .comments_wrap_4 .inner_ryt_col a {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--rubik_font_family);
  color: var(--heading_txt_brown_clr);
}

.single_blg_pg_sec_1 .comments_wrap_4 .inner_ryt_col span {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--sub_heading_grey_clr);
}

.single_blg_pg_sec_1
  .comments_wrap_4
  .comment_card_1
  .card_1_inner_wrap
  .reply_wrap {
  height: 40px;
  padding: 10px 20px;
  gap: 0.5rem;
  background-color: #3e32320d;
  align-items: center;
}

.single_blg_pg_sec_1
  .comments_wrap_4
  .comment_card_1
  .card_1_inner_wrap
  .reply_wrap
  > img {
  width: 16px;
  height: 16px;
}

.single_blg_pg_sec_1
  .comments_wrap_4
  .comment_card_1
  .card_1_inner_wrap
  .reply_wrap
  > span {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--rubik_font_family);
}

.single_blg_pg_sec_1 .comments_wrap_4 p {
  color: var(--sub_heading_grey_clr);
}

/* card_2_wrap */
.single_blg_pg_sec_1 .comments_wrap_4 .comment_card_2 {
  max-width: 670px;
  width: 100%;
  margin-inline: auto;
  background-color: var(--white_body_clr);
  position: absolute;
  bottom: -35%;
  left: 50%;
  transform: translateX(-50%);
}

.single_blg_pg_sec_1 .comments_wrap_4 .card_2_inner_wrap {
  max-width: 632px;
  width: 100%;
  margin-inline: auto;
  padding-block: 1.25rem;
  gap: 1.25rem;
}

/* add_comments_wrap_5 */

.single_blg_pg_sec_1 .add_comments_wrap_5 {
  gap: 1.8rem;
}

.single_blg_pg_sec_1 .add_comments_wrap_5 form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.single_blg_pg_sec_1 .upper_name_field {
  justify-content: space-between;
}

.single_blg_pg_sec_1 .upper_name_field .name_field {
  max-width: 365px;
  width: 100%;
  gap: 0.625rem;
}

.single_blg_pg_sec_1 .upper_name_field .name_field label,
.single_blg_pg_sec_1 .bottom_comment_area label {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--sub_heading_grey_clr);
}

.single_blg_pg_sec_1 .upper_name_field .name_field input {
  outline: none;
  border: none;
  padding: 12px;
  background-color: var(--white_smoke_clr);
}

.single_blg_pg_sec_1 .bottom_comment_area {
  gap: 1rem;
}

.single_blg_pg_sec_1 .bottom_comment_area textarea {
  padding: 2rem;
  outline: none;
  border: none;
  background-color: var(--white_smoke_clr);
}
/*-------- ryt_col_container --------*/
/* links_col_wrapper */
.single_blg_pg_sec_1 .r_col_wrapper .links_col_wrapper {
  max-width: 285px;
  width: 100%;
  justify-content: space-between;
  gap: 0.2rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px dotted #000000;
}
.single_blg_pg_sec_1 .r_col_wrapper .links_1_wrap {
  background-color: var(--white_smoke_clr);
  padding: 10px 13px;
  gap: 5px;
  align-items: center;
  padding-bottom: 0.5rem;
}
.single_blg_pg_sec_1 .r_col_wrapper .links_1_wrap img {
  width: 16px;
  height: 16px;
}
.single_blg_pg_sec_1 .r_col_wrapper .links_1_wrap span {
  font-size: 0.75rem;
  font-weight: 400;
  font-family: var(--rubik_font_family);
  color: var(--sub_heading_grey_clr);
}

/* author_col_wrapper */
.single_blg_pg_sec_1 .r_col_wrapper .author_outer_wrapper {
  padding-bottom: 1.8rem;
  border-bottom: 1px dotted #000000;
}
.single_blg_pg_sec_1 .r_col_wrapper .author_col_wrapper {
  background-color: var(--white_smoke_clr);
  padding: 15px 21px;
  justify-content: space-between;
}
.single_blg_pg_sec_1 .r_col_wrapper .author_col_wrapper .lft_img a {
  display: flex;
  align-items: center;
}
.single_blg_pg_sec_1 .r_col_wrapper .author_col_wrapper .lft_img a > img {
  width: 50px;
  height: 50px;
}
.single_blg_pg_sec_1 .r_col_wrapper .author_col_wrapper .name_info_wrap {
  justify-content: space-between;
}
.single_blg_pg_sec_1 .r_col_wrapper .author_col_wrapper .name_info_wrap > a {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--rubik_font_family);
  color: var(--heading_txt_brown_clr);
}
.single_blg_pg_sec_1
  .r_col_wrapper
  .author_col_wrapper
  .name_info_wrap
  .inner_social_links {
  gap: 0.75rem;
}
.single_blg_pg_sec_1
  .r_col_wrapper
  .author_col_wrapper
  .name_info_wrap
  .inner_social_links
  > a {
  display: flex;
  align-items: center;
}
.single_blg_pg_sec_1
  .r_col_wrapper
  .author_col_wrapper
  .name_info_wrap
  .inner_social_links
  > a
  img {
  width: 18px;
  height: 18px;
}
.single_blg_pg_sec_1 .r_col_wrapper .author_col_wrapper .posts_count {
  color: var(--sub_heading_grey_clr);
  font-size: 0.75rem;
  align-items: center;
}

/*--------------- Mobile_screen_css start ---------------*/
@media screen and (max-width: 480px) {
  .single_blg_pg_sec_1 .single_blg_pg_sec_1_container {
    flex-direction: column;
    gap: 2rem;
  }
  .single_blg_pg_sec_1 .l_col_container .bottom_content_wrap {
    flex-wrap: wrap;
    gap: 1rem 1rem;
  }
  .single_blg_pg_sec_1 .l_col_container {
    gap: 1.25rem;
  }
  .single_blg_pg_sec_1 .global_social_wrapper {
    gap: 1rem !important;
  }
  .single_blg_pg_sec_1 .upper_name_field .name_field {
    max-width: 100%;
  }
  .single_blg_pg_sec_1 .upper_name_field {
    flex-direction: column;
    gap: 1rem;
  }
}
